# https://github.com/jwilm/alacritty/wiki

# Window configurations
window:
  dimensions:
    columns: 0
    lines: 0

  padding:
    x: 0
    y: 0

  decorations: full

scrolling:
  multiplier: 2

env:
  TERM: xterm-256color

# Font configuration (changes require restart)
font:
  # The normal (roman) font face to use.
  normal:
    family: FiraCode Nerd Font Mono
    # Style can be specified to pick a specific face.
    style: Retina

  # The bold font face
  bold:
    family: FiraCode Nerd Font Mono
    # Style can be specified to pick a specific face.
    style: Bold

  # The italic font face
  italic:
    family: FiraCode Nerd Font Mono
   # Style can be specified to pick a specific face.
    style: Light

  # Point size of the font
  size: 10


# Colors (Material Theme modified)
colors:
  # Default colors
  primary:
    background: '#1c1c1c'
    foreground: '#eeffff'

  # Normal colors
  normal:
    black:   '#000000'  # Arbitrary
    red:     '#e53935'
    green:   '#91b859'
    yellow:  '#ffb62c'
    blue:    '#6182b8'
    magenta: '#ff5370'  # Dark pink of the original material theme
    cyan:    '#39adb5'
    white:   '#a0a0a0'  # Arbitrary

  # Bright colors
  bright:
    black:   '#4e4e4e'  # Arbitrary
    red:     '#ff5370'
    green:   '#c3e88d'
    yellow:  '#ffcb6b'
    blue:    '#82aaff'
    magenta: '#f07178'  # Pink of the original material theme
    cyan:    '#89ddff'
    white:   '#ffffff'  # Arbitrary

live_config_reload: true

{{ if (eq .chezmoi.os "darwin") }}
key_bindings:
  - { key: Right, mods: Alt, chars: "\x1BF" }
  - { key: Left,  mods: Alt, chars: "\x1BB" }
{{ end }}
